
<div class="job_filter_area">
    <div class="job_filter_select mr-auto mb-3">        
        <div class="dropdown">
            <button class="btn_filter_item btn_transparent dropdown-toggle" type="button" id="dropdownJobType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Job Type                
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownJobType">
              <button class="dropdown-item dropdown-item-JobType btn_transparent" data-value="Full-time">Full-time</button>
              <button class="dropdown-item dropdown-item-JobType btn_transparent" data-value="Contract">Contract</button>
              <button class="dropdown-item dropdown-item-JobType btn_transparent" data-value="Part-time">Part-time</button>
              <button class="dropdown-item dropdown-item-JobType btn_transparent" data-value="Temporary">Temporary</button>
              <button class="dropdown-item dropdown-item-JobType btn_transparent" data-value="Internship">Internship</button>              
              <button class="dropdown-item dropdown-item-JobType btn_transparent" data-value="">Clear</button>            
            </div>
        </div>
        <div class="dropdown">
            <button class="btn_filter_item btn_transparent dropdown-toggle" type="button" id="dropdownRemote" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Remote               
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownRemote">
                <button class="dropdown-item dropdown-item-Remote btn_transparent" data-value="No Remote">No Remote</button>
                <button class="dropdown-item dropdown-item-Remote btn_transparent" data-value="Completely Remote">Completely Remote</button>
                <button class="dropdown-item dropdown-item-Remote btn_transparent" data-value="Temporarily Remote">Temporarily Remote</button>
                <button class="dropdown-item dropdown-item-Remote btn_transparent" data-value="">Clear</button>            
            </div>
        </div>
        <div class="dropdown">
            <button class="btn_filter_item btn_transparent dropdown-toggle" type="button" id="dropdownDate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Date Posted             
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownDate">
                <button class="dropdown-item dropdown-item-Date btn_transparent" data-value="0">Today</button>
                <button class="dropdown-item dropdown-item-Date btn_transparent" data-value="3">Last 3 days</button>
                <button class="dropdown-item dropdown-item-Date btn_transparent" data-value="7">Last 7 days</button>
                <button class="dropdown-item dropdown-item-Date btn_transparent" data-value="14">Last 14 days</button>
                <button class="dropdown-item dropdown-item-Date btn_transparent" data-value="30">Last 30 days</button>
                <button class="dropdown-item dropdown-item-Date btn_transparent" data-value="">Clear</button>            
            </div>
        </div>
                
    </div>
    <div class="select_view mb-3 text-right">
        <button class="btn_transparent btn_select_job_view btn_select_job_view_list btn_selected_job_view" data-value="list">
            <i class="fs-18 fas fa-th-list"></i>
        </button>
        <button class="btn_transparent btn_select_job_view btn_select_job_view_large" data-value="large">
            <i class="fs-18 fas fa-th-large"></i>
        </button>
        <button class="btn_transparent btn_select_job_view btn_select_job_view_bar" data-value="bar">
            <i class="fs-18 fas fa-bars"></i>
        </button>
    </div>
</div>