{% load static %}
<div>
    <div class="d-flex-normal">
        <div class="search_group mr-auto pos_rel w-100">
            <input type="text" placeholder="Search for a keyword or job..." class="search_group_input mb-2">
            <button class="btn_transparent btn_search_group mb-2">
                <i class="feather-search"></i>
            </button>
        </div>
        <div class="create_group ml-3">
            <a href="{% url 'jobs:create' %}" class="text-blue fs-16 create_new"><i class="fas fa-plus"></i> Post a Free Job</a>
        </div>
    </div>                        
</div>