<div class="nav_user_profile shadow-sm">
    <ul>        
        <li>
            <button class="btn_user_nav btn_transparent selecte_nav" data-item="posts">Posts</button>
        </li>
        <li>
            <button class="btn_user_nav btn_transparent" data-item="basicinfo">Basic information</button>
        </li>
        <li>
            <button class="btn_user_nav btn_transparent" data-item="education">Education</button>
        </li>
        <li>
            <button class="btn_user_nav btn_transparent" data-item="experience">Experience</button>
        </li>
        <li>
            <button class="btn_user_nav btn_transparent" data-item="social">Social Profiles</button>
        </li>
    </ul>
</div>